.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
    text-align: center;
    margin-bottom: 20px;
}

.login-body {
    display: flex;
    justify-content: space-between;
}

.login-image img {
    max-width: 100%;
    height: auto;
}

.login-fields {
    flex: 0 0 50%;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.sign-in-sign-up {
    margin-top: 20px;
    text-align: center;
}

.sign-in-sign-up span {
    color: #007bff;
    cursor: pointer;
}

.sign-in-sign-up span:hover {
    text-decoration: underline;
}
